.mainContent {
	display: flex;
	flex-direction: column;
	gap: 2em;
	padding: 3em;
}

.postCard {
	padding-bottom: 1em;
	border-bottom: 1px solid white;
	max-width: 100%;
	font-size: 1em;
	display: flex;
	gap: 2em;	
	text-wrap: wrap;
	align-items: center;
}

.postCard > a {
	text-decoration: none;
	color: blue;
}

.postCard > a:visited {
	color: blue;
}

.categoryTag {
	font-size: 1.5rem;
	font-weight: 600;
	color: white;
	background-color: rgba(0, 150, 255, 0.7);
	padding: 0 .5em;
	border-radius: 12px;
}

.postDate {
	color: black;
	padding: 0 .5em;
	font-size: 1.2rem;
	border-radius: 12px;
}
