.postPage {
	display: grid;
	grid-template: auto / 1fr .2fr;
	color: white;
	padding: 2em;
	gap: .5em;
}

.post {
	display: flex;
	flex-direction: column;
	overflow: scroll;
	gap: 1.2em;
	padding: 1.2em .2em;
	height: 90%;
	border-right: 5px solid white;
}

.postDetails {
	display: flex;
	flex-direction: column;
	font-size: 1.2rem;
	gap: 1.2em;
}

.postDetails > div {
	display: flex;
	gap: .6em;
	font-size: 1.2rem;
}

.postCateg {
	font-weight: 600;
	color: white;
	background-color: rgba(0, 150, 255, 0.7);
	padding: 0 .5em;
	border-radius: 12px;
}

.postBody {
	display: flex;
}

.commentSection {
	display: flex;
	flex-direction: column;
	gap: 1.2em;
}

.commentForm {
	display: flex;
	gap: 1.2em;
}

.commentForm > div > input {
	padding: .2em .5em;
	border: none;
	font-size: 1rem;
	background-color: rgba(255, 255, 255, 0.2);
	color: white;
}

.commentForm > div > input:focus {
	outline: none;
}

.commentForm > button {
	font-size: 1rem;
	padding: .1em .5em;
	background-color: inherit;
	border: none;
	border-radius: 12px;
	box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.5);
	color: white;
}

.comments {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
}
