.allPosts {
	width: 90%;
	display: flex;
	flex-direction: column;
	gap: 3em;
}

.postCard {
	padding-bottom: 1em;
	border-bottom: 1px solid white;
	max-width: 100%;
	font-size: 1em;
	display: flex;
	gap: 2em;	
	text-wrap: wrap;
	align-items: center;
}

.postCard > a {
	text-decoration: none;
	color: white;
	font-weight: 800;
	font-size: 1.2rem;
}

.postCard > a:visited {
	color: white;
}

.categoryTag, .published, .unpublished {
	font-size: 1.5rem;
	font-weight: 600;
	color: white;
	background-color: rgba(0, 150, 255, 0.7);
	padding: 0 .5em;
	border-radius: 12px;
}

.postDate {
	color: black;
	padding: 0 .5em;
	font-size: 1.2rem;
	border-radius: 12px;
}

.published {
	background-color: rgba(100, 200, 100, 0.5)
}

.unpublished {
	background-color: rgba(200, 100, 100, 0.5);
}

.noPosts {
	position: absolute;
	top: 30%;
	left: 39%;
	font-size: 1.5em;
	font-weight: 500;
	color: white;
	border-radius: 12px;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
	padding: 1.2em;
}
