.sidebar {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	padding: .5em 2em;
	background-color: black;
	color: white;
	font-size: 1.2em;
	border-right: .5rem solid white;
}

.categories {
	overflow: scroll;
	max-height: 65%;
	height: 65%;
}

.user {
	font-size: 1.2em;
}

.loggedIn {
	display: flex;
	align-items: center;
	gap: 1em;
	font-size: 1.7rem;
	font-weight: 600;
	font-family: monospace;
}

.loggedIn > span {
	text-transform: capitalize;
}

.loggedIn > span > button {
	width: 5rem;
	padding: .2rem;
	font-size: 1rem;
	font-weight: 600;
	font-family: monospace;
	background-color: red;
	color: white;
	border: none;
	border-radius: 12px;
	cursor: pointer;
}

.loggedIn > span > button:hover {
	box-shadow: 2px 2px 10px 5px rgba(255, 0, 0, 0.8);
}

.logIn > span > button {
	font-size: 1em;
	cursor: pointer;
	padding: .2em 1em;
	background-color: transparent;
	color: white;
	border: none;
	border-radius: 12px;
	box-shadow: 1px 1px 10px 2px rgba(255, 255, 255, 0.5);
}

.logIn > span > button:hover {
	box-shadow: 2px 2px 5px 2px rgba(255, 255, 255, 0.9);
}
